In [105]:
import decimal
import pandas as pd
import boto3
import json

In [4]:
df = pd.read_csv("./animal-data-5.csv")
df.head(2)

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,sexname,location,movementdate,movementtype,istrial,returnedreason,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,2009-11-28,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,Female,Adoptable Cat Glass Colony,2017-05-13,Adoption,0.0,Stray,Died in care,0,0,0
1,15932,2009-12-08,Moving,0,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,...,Male,Adoptable Dogs,2017-04-24,Adoption,0.0,Stray,Died in care,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10290 entries, 0 to 10289
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10290 non-null  int64
 1   intakedate        10290 non-null  object
 2   intakereason      10290 non-null  object
 3   istransfer        10290 non-null  int64
 4   sheltercode       10290 non-null  object
 5   identichipnumber  10290 non-null  object
 6   animalname        10290 non-null  object
 7   breedname         10290 non-null  object
 8   basecolour        10290 non-null  object
 9   speciesname       10290 non-null  object
 10  animalage         10290 non-null  float64
 11  sexname           10290 non-null  object
 12  location          10290 non-null  object
 13  movementdate      10290 non-null  object
 14  movementtype      10290 non-null  object
 15  istrial           10290 non-null  float64
 16  returnedreason    10290 non-null  object
 17  deceasedreason    10290 non-null  object
 18  diedoffshelter    10290 non-null  int64
 19  puttosleep        10290 non-null  int64
 20  isdoa             10290 non-null  int64
dtypes: float64(2), int64(5), object(14)
memory usage: 1.6+ MB

In [127]:
df_rd = df.drop_duplicates(subset=['id'])
df_rd['id'] = range(len(df_rd))

df_rd['animalage'] = df_rd['animalage'].astype(str)
df_rd['istrial'] = df_rd['istrial'].astype(str)


df_rd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7288 entries, 0 to 10289
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7288 non-null   int64
 1   intakedate        7288 non-null   object
 2   intakereason      7288 non-null   object
 3   istransfer        7288 non-null   int64
 4   sheltercode       7288 non-null   object
 5   identichipnumber  7288 non-null   object
 6   animalname        7288 non-null   object
 7   breedname         7288 non-null   object
 8   basecolour        7288 non-null   object
 9   speciesname       7288 non-null   object
 10  animalage         7288 non-null   object
 11  sexname           7288 non-null   object
 12  location          7288 non-null   object
 13  movementdate      7288 non-null   object
 14  movementtype      7288 non-null   object
 15  istrial           7288 non-null   object
 16  returnedreason    7288 non-null   object
 17  deceasedreason    7288 non-null   object
 18  diedoffshelter    7288 non-null   int64
 19  puttosleep        7288 non-null   int64
 20  isdoa             7288 non-null   int64
dtypes: int64(5), object(16)
memory usage: 1.2+ MB

C:\Users\laxmi\AppData\Local\Temp\ipykernel_12000\3995641372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rd['id'] = range(len(df_rd))
C:\Users\laxmi\AppData\Local\Temp\ipykernel_12000\3995641372.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rd['animalage'] = df_rd['animalage'].astype(str)
C:\Users\laxmi\AppData\Local\Temp\ipykernel_12000\3995641372.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rd['istrial'] = df_rd['istrial'].astype(str)

In [129]:
df_rd.to_csv('animal-data-6.csv', index=False)

In [130]:
df_rd.head()

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,sexname,location,movementdate,movementtype,istrial,returnedreason,deceasedreason,diedoffshelter,puttosleep,isdoa
0,0,2009-11-28,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,Female,Adoptable Cat Glass Colony,2017-05-13,Adoption,0.0,Stray,Died in care,0,0,0
1,1,2009-12-08,Moving,0,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,...,Male,Adoptable Dogs,2017-04-24,Adoption,0.0,Stray,Died in care,0,0,0
2,2,2012-08-10,Abandoned,0,D12082309,0A13253C7B,Maggie,Shep Mix/Siberian Husky,Various,Dog,...,Female,Adoptable Dogs,2017-04-15,Adoption,0.0,Stray,Died in care,0,0,0
3,3,2013-01-11,Abandoned,0,C1301091,0A13403D4D,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,...,Female,Stray Cats,2017-04-18,Foster,0.0,Stray,Died in care,0,0,0
5,4,2013-03-26,Incompatible with owner lifestyle,0,D1303720,981020007006095,Bonnie,Basenji/Mix,Brown and White,Dog,...,Female,Stray Dogs Beta,2013-03-30,Adoption,0.0,Incompatible with owner lifestyle,Died in care,0,0,0

In [131]:
json_data = df_rd.to_json(orient='records')

# Specify the file path where you want to save the JSON file
json_file_path = 'output.json'

# Save JSON data to a file
with open(json_file_path, 'w') as json_file:
    json_file.write(json_data)

In [132]:
for index, item in enumerate(json_data[:10], 1):
    print(f"Item {index}: {item}")

Item 1: [
Item 2: {
Item 3: "
Item 4: i
Item 5: d
Item 6: "
Item 7: :
Item 8: 0
Item 9: ,
Item 10: "

In [133]:
items = df_rd.to_dict(orient='records')
print(len(items))

7288

In [137]:
dynamodb = boto3.resource('dynamodb')

table = dynamodb.Table('animals')

In [138]:
for item in items:
    table.put_item(Item=item)

In [161]:
response = table.scan()
items = response['Items']
len(items)

# AWS sdk will only retrieve 1MB data upon each scan.
# So we will have to perform a thing called pagination to get all the items back.

2834

In [162]:
response.keys()
# response['Count']

dict_keys(['Items', 'Count', 'ScannedCount', 'LastEvaluatedKey', 'ResponseMetadata'])

In [163]:
all_items = []

# Perform paginated scan to retrieve all items
response = table.scan()

# Extract items from the first page
all_items.extend(response['Items'])

# Continue paginating through remaining pages
while 'LastEvaluatedKey' in response:
    response = table.scan(ExclusiveStartKey=response['LastEvaluatedKey'])
    all_items.extend(response['Items'])

# Print the total number of items retrieved
print("Total items retrieved:", len(all_items))

Total items retrieved: 7288

In [165]:
items[0]

{'identichipnumber': '981020029705420',
 'location': 'Adoptable Cat Middle Colony',
 'deceasedreason': 'Court Order/ Legal',
 'intakereason': 'Unable to Afford',
 'sexname': 'Male',
 'animalname': 'Ryder',
 'movementtype': 'Foster',
 'returnedreason': 'Stray',
 'istransfer': Decimal('0'),
 'istrial': '0.0',
 'animalage': '0.0',
 'sheltercode': 'C18091332',
 'speciesname': 'Cat',
 'basecolour': 'White and Black',
 'puttosleep': Decimal('0'),
 'movementdate': '2018-09-29',
 'isdoa': Decimal('0'),
 'diedoffshelter': Decimal('0'),
 'breedname': 'Domestic Short Hair',
 'id': Decimal('4666'),
 'intakedate': '2018-09-28'}

In [160]:
response.keys()
# response['Count']

dict_keys(['Items', 'Count', 'ScannedCount', 'ResponseMetadata'])